<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customerblocklist>
            <general>
                <enabled>1</enabled>
                <checkout_message>We cannot process your order. Please contact support.</checkout_message>
            </general>
            <rules>
                <blacklist>[]</blacklist>
            </rules>
        </customerblocklist>
    </default>
</config>
