<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="mycompany_customerblocklist_payment_information_management" type="MyCompany\CustomerBlocklist\Plugin\Checkout\PaymentInformationManagementPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="mycompany_customerblocklist_guest_payment_information_management" type="MyCompany\CustomerBlocklist\Plugin\Checkout\PaymentInformationManagementPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Payment\Info">
        <plugin name="mycompany_customerblocklist_order_payment_info_fallback" type="MyCompany\CustomerBlocklist\Plugin\Sales\OrderPaymentInfoPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="mycompany_customerblocklist_order_view_button" type="MyCompany\CustomerBlocklist\Plugin\Sales\OrderViewButtonPlugin" sortOrder="10"/>
    </type>
    <type name="MyCompany\CustomerBlocklist\Block\Adminhtml\System\Config\Form\Field\Rules">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">MyCompany_CustomerBlocklist::system/config/form/field/array.phtml</item>
            </argument>
        </arguments>
    </type>
</config>
