<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="mycompany" translate="label" sortOrder="300">
            <label>MyCompany</label>
        </tab>
        <section id="customerblocklist" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Customer Blocklist</label>
            <tab>mycompany</tab>
            <resource>MyCompany_CustomerBlocklist::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Customer Blocklist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="checkout_message" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Block Message</label>
                </field>
            </group>
            <group id="rules" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Rules</label>
                <field id="blacklist" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blacklist Rules</label>
                    <frontend_model>MyCompany\CustomerBlocklist\Block\Adminhtml\System\Config\Form\Field\Rules</frontend_model>
                    <backend_model>MyCompany\CustomerBlocklist\Model\Config\Backend\BlacklistRules</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
